
.home .heading {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pS4 {
    margin-left: 495px;
    background-color: white;
    padding: 15px 30px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    border-color: rgb(76, 187, 113);
    border-width: 5px;
    
}

.pS5 {
    margin-left: 30px;
    background-color: white;
    padding: 15px 30px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    border-color: rgb(76, 187, 113);
    border-width: 5px;
}

.xboxOne {
    margin-left: 30px;
    background-color: white;
    padding: 15px 30px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    border-color: rgb(76, 187, 113);
    border-width: 5px;
}

.XBOX360 {
    margin-left: 30px;
    background-color: white;
    padding: 15px 30px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    border-color: rgb(76, 187, 113);
    border-width: 5px;
}

